* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 50px 0;
    text-align: center;
    background-color: aquamarine;
}

header h3 {
    padding: 20px 0;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.dati {
    margin: 30px 0;
}

.dati h3, h2 {
    margin-top: 15px;
}

.dati h2 {
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}